/* General setup */
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_code_proregular';
    src: url('font/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('font/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
    font-size: 10px;
    margin: 0;
  }
  
  body {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 3.2rem;
    font-family: 'kaushan_scriptregular';
  }
  
  h2 {
    font-size: 2.4rem;
    font-family: 'kaushan_scriptregular';
  }
  
  p {
    font-size: 1.4rem;
    line-height: 1.6;
    word-spacing: 0.6rem;
    font-family: 'source_code_proregular';
  }